{% if is_granted('ROLE_ADMIN') %}

    <div class="hidden uploaduri" data-uri="{{ path('pluetzner_block_imageblock_uploadajax') }}"></div>
    {% include '@PMTool/module/nonblocking_styles.html.twig' with {
    assets: [
    asset('bundles/pluetznerblock/css/editor.css') ,
    asset('bundles/pluetznerblock/css/simplemde.min.css'),
    asset('bundles/pluetznerblock/css/select2.min.css')
    ]
    } %}

    {% set js = [
    asset('bundles/pluetznerblock/js/bootbox.min.js'),
    asset('bundles/pluetznerblock/js/simplemde.min.js'),
    asset('bundles/pluetznerblock/js/inline-attachment.js'),
    asset('bundles/pluetznerblock/js/codemirror.inline-attachment.js'),
    asset('bundles/pluetznerblock/js/select2.min.js'),
    asset('bundles/pluetznerblock/js/editor.js'),
    ] %}

    {% if jquery is not defined or jquery == true %}
        {% set js = js|merge([asset('bundles/pluetznerblock/js/jquery-3.2.1.min.js')]) %}
    {% endif %}

    {% if bootstrap is not defined or bootstrap == true %}
        {% set js = js|merge([asset('bundles/pluetznerblock/js/bootstrap.min.js')]) %}
    {% endif %}

    {% include '@PMTool/module/nonblocking_scripts.html.twig' with {assets:js} %}
{% endif %}