<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link rel="shortcut icon" href="{{ asset("bundles/admin/img/favicon.ico") }}"/>

    <title>{% block title %}{% endblock %}Portfolio</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>



    {% block style %}{% endblock %}

</head>

<body class="page-container-bg-solid page-sidebar-closed-hide-logo {% block body_class %}{% endblock %}">

{% include "@PluetznerBlock/_layout/app_header.html.twig" %}

<div class="page-container">
    <div class="page-content-wrapper">
        {% block page_container %}

            {% block body_section %}
                {% block header %}
                    <div class="page-head">
                        <div class="container">
                            <div class="page-title">
                                <h1>{% block h1 %}{% endblock %}</h1>
                            </div>
                            <div class="page-toolbar">{% block toolbar %}{% endblock %}</div>
                        </div>
                    </div>

                {% endblock header %}
                <div class="page-content">


                    <div class="container">
                        {% block messages %}
                            {% set messages = app.session.flashBag.keys() %}
                            {% if messages %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% for type in messages %}
                                            <div class="note note-{% if 'error' == type %}danger{% else %}{{ type }}{% endif %}">{{ app.session.flashBag.get(type)|join(' ') }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block body %}
                        {% endblock %}
                    </div>

                </div>
            {% endblock body_section %}
        {% endblock %}
    </div>


</div>
<div class="page-footer">
    <div class="container">
        <div class="page-footer-inner"> 2017 © Paul Lützner</div>
    </div>


</div>

{% block javascript %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        {% block documentready %}{% endblock %}
    });

</script>

</body>
</html>
