{% extends '@PluetznerBlock/_layout/base.html.twig' %}
{% block h1 %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                    </div>
                </div>
                <div class="portlet-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}