{% extends '@Admin/_layout/base.html.twig' %}
{% block h1 %}
    Benutzer
    <small>Password ändern</small>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                            <span class="caption-subject font-blue-hoki bold uppercase">
                            Passwort ändern für: {{ user.username }}
                        </span>
                    </div>
                </div>

                <div class="portlet-body">
                    {{ form(form, {"style":"horizontal"}) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

