{% extends '@PluetznerBlock/_layout/base.html.twig' %}
{% block h1 %}
    Benutzer
    <small>Password ändern</small>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="caption caption-md">
                            <span class="caption-subject font-blue-hoki bold uppercase">
                            Change the password of: {{ user.username }}
                        </span>
                    </div>
                </div>

                <div class="panel-body">
                    {{ form(form, {"style":"horizontal"}) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

