{% extends '@PluetznerBlock/_layout/base.html.twig' %}
{% block h1 %}
    Benutzer
    <small>Benutzerdaten</small>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ user.username }}
                    <span class="clearfix"></span>
                </div>

                <div class="portlet-body">
                    <table class="table-striped table-hover table">
                        <tbody>
                        <tr>
                            <th class="text-right">Passwort</th>
                            <td><a href="{{ path("pluetzner_block_user_editpassword") }}">Jetzt ändern &raquo;</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

